<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <h4 class="mb-2">尋找餐廳：</h4>
      <form action="/search" class="form-row">
        <div class="input-group col">
          <input type="text" name="keyword" class="form-control" placeholder="今天的你，想來點..." aria-label="Restaurant Name..."
            value="{{ keywords }}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
        <div class="input-group col">
          <select name="sort" class="custom-select" onchange="this.form.submit()">
            <option>設定餐廳排序</option>
            <option value="asc">A to Z</option>
            <option value="desc">Z to A</option>
            <option value="category">類別</option>
            <option value="location">地區</option>
          </select>
        </div>
      </form>
      <form action="/" class="col-6">

      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    {{#if restaurants}}
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        <a href="/restaurants/{{ this._id }}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{ this.image }}"
              alt="{{ this.name }}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{ this.name }}</h6>
        
              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{ this.category }}
              </div>
        
              <span class="badge badge-pill badge-danger font-weight-normal">
                {{ this.rating }}
                <i class="fas fa-star fa-xs"></i>
              </span>
        
            </div>
            <div class="card-footer text-muted">
              <div class="row justify-content-end px-1">
                <a href="./restaurants/{{ this._id }}/edit" class="btn btn-link mr-1">編輯</a>
                <a href="./restaurants/{{ this._id }}" class="btn btn-link mr-1">詳細</a>
                <form>
                <!-- Button trigger modal -->
                  <button type="button" class="btn btn-danger px-3" data-toggle="modal" data-target="#trigger-deleteItem-{{restaurant._id}}">刪除</button>
                </form>
              </div>
            </div>

            <!-- Modal 優化使用者體驗，刪除餐廳-->
            <div class="modal fade" id="trigger-deleteItem-{{restaurant._id}}" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-primary">刪除提醒</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                <div class="modal-body">
                  <p class="font-weight-light">請問您確定要刪除資料嗎?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary px-3 mb-3" data-dismiss="modal">關閉</button>
                  <form action="/restaurants/{{restaurant._id}}/delete?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger px-3 mx-3">刪除</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          
          </div>
        </a>
        {{/each}}
      </div>
    </div>
    {{else}}
    <div class="col-md-10 col-12 mx-auto">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>噢⋯</h1>
        <i class="far fa-sad-tear fa-10x"></i>
        <h2 class="mt-3">沒有符合搜尋結果的餐廳</h2>
        <p>試試看其他關鍵字吧！</p>
      </div>
    </div>
    {{/if}}
  </div>
</div>
